<!DOCTYPE html>
<!--[if lte IE 8 ]><html lang="en" class="no-js oldIE"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>@ViewBag.title</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="57x57"
          href="/static/images/apple-touch-icon-57x57.511c7661.png" />
    <link rel="apple-touch-icon" sizes="60x60"
          href="/static/images/apple-touch-icon-60x60.d80aabfd.png" />
    <link rel="apple-touch-icon" sizes="72x72"
          href="/static/images/apple-touch-icon-72x72.2f8e1a72.png" />
    <link rel="apple-touch-icon" sizes="76x76"
          href="/static/images/apple-touch-icon-76x76.d33ae418.png" />
    <link rel="apple-touch-icon" sizes="114x114"
          href="/static/images/apple-touch-icon-114x114.c149133d.png" />
    <link rel="apple-touch-icon" sizes="120x120"
          href="/static/images/apple-touch-icon-120x120.16840646.png" />
    <link rel="apple-touch-icon" sizes="144x144"
          href="/static/images/apple-touch-icon-144x144.4f2b1ad4.png" />
    <link rel="apple-touch-icon" sizes="152x152"
          href="/static/images/apple-touch-icon-152x152.344ef152.png" />
    <link rel="apple-touch-icon" sizes="180x180"
          href="/static/images/apple-touch-icon-180x180.324ae1a6.png" />
    <link rel="icon" type="image/png"
          href="/static/images/android-chrome-192x192.219f289c.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.dc83f443.png"
          sizes="16x16" />
    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.44498c19.png"
          sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/images/favicon-96x96.62c11b8a.png"
          sizes="96x96" />
    <link rel="icon" type="image/png" href="/static/images/favicon-194x194.578b1b58.png"
          sizes="194x194" />
    <link rel="manifest" href="/static/images/favicons/biomedcentral/manifest.json" />
    <link rel="shortcut icon" href="/static/images/favicon.dc10a51d.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config"
          content="/static/images/favicons/biomedcentral/browserconfig.xml" />
    <meta name="msapplication-TileImage"
          content="/static/images/mstile-144x144.9d93277a.png" />
    <meta name="theme-color" content="#ffffff" />


    <script>(function (H) { H.className = H.className.replace(/\bno-js\b/, 'js') })(document.documentElement)</script>
    <script>(function (d) { if (sessionStorage.getItem('webfonts') == 'true') { d.className += ' webfonts-loaded'; } })(document.documentElement);</script>

    <link rel="stylesheet" media="screen" href="/static/css/basic.06b5e140.css" />
    <link rel="stylesheet" media="print" href="/static/css/biomedcentral-print.12735a02.css" />

    <link rel="stylesheet" class="js-ctm" href="/static/css/biomedcentral.299e619f.css"
          media="only screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0), (-ms-high-contrast: none), only all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm)">



    <script>var _gaq = [];</script>

    <script type="text/javascript">
        config = {
            env: 'live',
            site: 'www.srcmag.com',
            siteWithPath: 'www.srcmag.com' + window.location.pathname,
            twitterHashtag: 'www',
            cmsPrefix: 'http://studio-cms.springer.com/studio/',

            publisherBrand: 'Srcmag sci'
        };
    </script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        var sampleRate = 20;


        ga('create', "UA-61881280-1",
                {
                    cookieDomain: 'none',
                    allowLinker: true,
                    siteSpeedSampleRate: sampleRate
                });
        ga("set", "anonymizeIp", true);
        ga('send', 'pageview');


        ga('create', "UA-54492316-9",
                {
                    cookieDomain: 'none',
                    allowLinker: true,
                    siteSpeedSampleRate: sampleRate,
                    name: 'global'
                });

        ga("global.set", "anonymizeIp", true);
        ga('global.send', 'pageview');
    </script>
    @RenderSection("canonicalLink", false)



</head>
<body class="@ViewBag.bodyclass" data-fragment="@ViewBag.bodydatafragment">
    @*<div class="container" style="height: 0">
            <div id="wt_refpoint">
            </div>
        </div>*@
    <div id="top">
        <!--首页中默认注释了顶部广告-->

        <header class="header" role="banner">
            <div class="header__inner">
                <a id="header-logo" href="/home" class="logo header__logo" title="SRC Mag">
                    @*<img srcset="/static/images/biomed-central-logo_180x35_85951291.svg" src="/static/images/srcmag-logo_180x35.1c7100cf.png" class="logo__img" alt="SRC Mag" />*@
                    <img src="/static/images/Logo_Up.png" alt="SRC Mag" />
                </a>
                @*<div class="header__right">
                        <div class="toggles js-fade-toggle">
                            <span class="Toggles_item NavToggle" data-toggle="menu">Menu</span>
                            <span class="Toggles_item SearchToggle" data-toggle="search">
                                <span class="SearchToggle_icon" aria-hidden="true">我是</span>
                            </span>
                        </div>
                    </div>*@

                <nav id="globalNavigation" class="global-nav js-fade-toggle" role="navigation" aria-label="publisher">
                    <h2 class="sr-only">Publisher main menu</h2>
                    <ul id="publisherNavigation" class="global-nav__list">
                        <li>
                            <a class="@ViewBag.Dh1" href="//www.srcmag.com/Journals">Explore journals</a>
                        </li>
                        <li>
                            <a class="@ViewBag.Dh4" href="/Conferences">Conferences</a>
                        </li>

                        <li>
                            <a class="@ViewBag.Dh2" href="//www.srcmag.com/GetPublished">Get published</a>
                        </li>

                        <li>
                            <a class="@ViewBag.Dh3" href="//www.srcmag.com/About">About SrcMag</a>
                        </li>

                    </ul>
                </nav>

            </div>
        </header>




        @RenderBody()


        <p style="display: none;" class="footer-dynamic-legal">
            <a class="footer-dynamic-legal__link" title="View Legal Information" href="http://www.miibeian.gov.cn">
                @*&#27818;ICP&#22791;15051854&#21495;-3*@备案用
            </a>
        </p>

        <footer>
            <div class="footer">
                <div class="footer__header">
                    <img src="/static/images/Logo_Down.png" class="logo__img footer__logo" alt="SRCMAG" />

                    <h2 class="footer__menu-title">Publisher main menu</h2>
                    <ul class="footer__primary-menu">

                        <li class="footer__primary-item">
                            <a class="footer__link footer__primary-link" href="/journals">Explore journals</a>
                        </li>

                        <li class="footer__primary-item">
                            <a class="footer__link footer__primary-link" href="/getpublished">Get published</a>
                        </li>

                        <li class="footer__primary-item">
                            <a class="footer__link footer__primary-link" href="/about">About Src Central</a>
                        </li>

                    </ul>

                </div>



                <div id="Test-FooterExists" class="footer__content">
                    <div class="footer__legal">
                        <p class="footer__terms">
                            By continuing to use this website, you agree to our <a class="footer__link footer__link--inline" href="#">Terms and Conditions</a>,
                            <a class="footer__link footer__link--inline" href="#">
                                Privacy
                                statement
                            </a> and <a class="footer__link footer__link--inline" href="#">Cookies</a> policy.
                        </p>
                    </div>




                    <nav id="publisherFooter" class="footer__nav">
                        <h3 class="footer__menu-title">Publisher secondary menu</h3>
                        <div class="footer__nav-inner">

                            <div class="footer__menu">
                                <ul class="footer__list">

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Contact us</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Jobs</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Manage manuscripts</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Sign up for article alerts</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Manage article alerts</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Leave feedback</a>

                                    </li>

                                </ul>
                            </div>

                            <div class="footer__menu">
                                <ul class="footer__list">

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Press center</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Read more on our blogs</a>

                                    </li>

                                </ul>
                            </div>

                            <div class="footer__menu">
                                <ul class="footer__list">

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Policies</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Licensing</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Terms and conditions</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Privacy statement</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Accessibility</a>

                                    </li>

                                    <li class="footer__item">
                                        <a class="footer__link" href="#">Cookies</a>

                                    </li>

                                </ul>
                            </div>


                            <div class="footer__menu footer__menu--follow">
                                <div class="footer__follow">
                                    <h3 class="footer__follow-title">Follow SrcMag</h3>
                                    <ul class="follow follow--inline">

                                        <li class="footer__follow-item follow__item">
                                            <a class="follow__link follow__link--twitter" href="https://twitter.com/#" target="_blank" data-track-event="click" data-event-category="Social Media" data-event-action="Click Follow Social Media" data-event-label="Twitter">
                                                <span class="follow__label">Twitter</span>
                                            </a>
                                        </li>


                                        <li class="footer__follow-item follow__item">
                                            <a class="follow__link follow__link--facebook" href="https://www.facebook.com/#" target="_blank" data-track-event="click" data-event-category="Social Media" data-event-action="Click Follow Social Media" data-event-label="Facebook">
                                                <span class="follow__label">Facebook</span>
                                            </a>
                                        </li>


                                        <li class="footer__follow-item follow__item">
                                            <a class="follow__link follow__link--gplus" href="https://plus.google.com/#" target="_blank" data-track-event="click" data-event-category="Social Media" data-event-action="Click Follow Social Media"
                                               data-event-label="Google Plus">
                                                <span class="follow__label">Google Plus</span>
                                            </a>
                                        </li>


                                        <li class="footer__follow-item follow__item">
                                            <a class="follow__link follow__link--youtube" href="https://www.youtube.com/#" target="_blank" data-track-event="click" data-event-category="Social Media" data-event-action="Click Follow Social Media" data-event-label="YouTube">
                                                <span class="follow__label">YouTube</span>
                                            </a>
                                        </li>


                                        <li class="footer__follow-item follow__item">
                                            <a class="follow__link follow__link--linkedin" href="https://www.linkedin.com/company/#" target="_blank" data-track-event="click" data-event-category="Social Media" data-event-action="Click Follow Social Media" data-event-label="LinkedIn">
                                                <span class="follow__label">LinkedIn</span>
                                            </a>
                                        </li>


                                        <li class="footer__follow-item follow__item">
                                            <a class="follow__link follow__link--reddit" href="https://www.reddit.com/domain/#" target="_blank" data-track-event="click" data-event-category="Social Media" data-event-action="Click Follow Social Media" data-event-label="Reddit">
                                                <span class="follow__label">Reddit</span>
                                            </a>
                                        </li>


                                        <li class="footer__follow-item follow__item">
                                            <a class="follow__link follow__link--weibo" href="http://www.weibo.com/#l" target="_blank" data-track-event="click" data-event-category="Social Media" data-event-action="Click Follow Social Media" data-event-label="Weibo">
                                                <span class="follow__label">Weibo</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>


                </div>
            </div>

            
        </footer>
    </div>
    @RenderSection("PDefault", false)



    <script>
        (function () {
            var linkEl = document.querySelector('.js-ctm');
            if (window.matchMedia && window.matchMedia(linkEl.media)) {
                var script = document.createElement('script');
                script.src = '/static/js/oscar.b11268bc.js';
                script.async = true;
                document.body.appendChild(script);
            }
        })();
    </script>




    <script type="text/javascript">
        if (config) {
            (function (d) {
                Array.prototype.forEach.call(d.getElementsByClassName('RealMediaAd'), function (adElement) {
                    var iframe = d.createElement('iframe');
                    iframe.frameBorder = '0';
                    iframe.scrolling = 'no';
                    var position = adElement.getAttribute("data-position"),
                            iframeInDoc = adElement.getElementsByClassName('Ad_content')[0].appendChild(iframe),
                            doc = iframeInDoc.contentWindow.document;

                    doc.open().write('<body onload="window.location.href = '
                            + '\'/placeholder/v1/advertising/realMedia?siteWithPath=' + encodeURIComponent(config.siteWithPath)
                            + '&placement=' + position + '\';">');
                    doc.close();
                });
            })(document);
        }
    </script>




    <script type="text/javascript">
        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                setTimeout(function () {
                    var script = document.createElement("script");
                    script.type = "text/javascript";
                    script.src = "https://recommendations.springernature.com/latest/entry-point.js";
                    document.getElementsByTagName("head")[0].appendChild(script);
                }, 0);
            }
        });
    </script>



    <script type="text/javascript">
        var _kiq = _kiq || [];
        (function () {
            setTimeout(function () {
                var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//s3.amazonaws.com/ki.js/47412/9CC.js';
                f.parentNode.insertBefore(s, f);
            }, 1);
            setTimeout(function () {
                var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//s3.amazonaws.com/ki.js/47412/aC6.js';
                f.parentNode.insertBefore(s, f);
            }, 1);
        })();
    </script>


</body>
</html>
